* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('../assets/images/taxi.jpg');
    background-size:100% auto;
    background-position-x: -50%;
    background-attachment: fixed;
    height: 450px;
    background-repeat: no-repeat;
}



.jumbotron-hero {
    background-color: #eeb50a;
    color: #fff;
}

.mobile {
    background-color: #eeb50a;
    padding-top: 5%;
}

.outline {
    border: 2px solid #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.conduce {
    background-image: url('../assets/images/conduce.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.white-text {
    color: #fff;
}

.tarifas {
    background-color: #eeb50a;
    padding-top: 50px;
}

.inputs-tarifas {
    padding-bottom: 5px;
}